language: python
cache: pip

install:
  - pip install tox


jobs:
  include:
    - stage: syntax
      script: tox
      python: 3.6
      env: TOXENV=syntax

    - stage: test
      script: tox
      env: TOXENV=py36,codecov
      python: 3.6

    - stage: test
      script: tox
      env: TOXENV=py37,codecov
      python: 3.7

    - stage: test
      script: tox
      env: TOXENV=py38,codecov
      python: 3.8