[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[dev-packages]
"flake8" = "*"
pytest = "*"
pytest-asyncio = "*"
black = "==22.8.0"
codecov = "*"
coverage = "*"
aiosmtplib = "*"
sphinx = "*"
aiohttp = "*"
typing-extensions = "*"

[packages]
httpx = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
